{% extends 'base/base.html'%}
{% load static %}
{% block content %} 



    <!-- Start Banner Hero -->
    <section class="bg-light w-100">
        <div class="container">
            <div class="row d-flex align-items-center py-5">
                <div class="col-lg-6 text-start">
                    <h1 class="h2 py-5 text-primary typo-space-line">{{abouts.titre}}</h1>
                    <p class="light-300">
                       {{abouts.description |safe}}
                    </p>
                </div>
                <div class="col-lg-6">
                    <img src="{{abouts.image.url}}">
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Hero -->


    <!-- Start Team Member -->
    <section class="container py-5">
        <div class="pt-5 pb-3 d-lg-flex align-items-center gx-5">

            <div class="col-lg-3">
                <h2 class="h2 py-5 typo-space-line">{{websites.titre_team}}</h2>
                <p class="text-muted light-300">
                    {{websites.description_team}}
                </p>
            </div>

            <div class="col-lg-9 row">
            {% for team in teams  %}
                <div class="team-member col-md-4">
                    <img class="team-member-img img-fluid rounded-circle p-4" src="{{team.image.url}}" alt="Card image">
                    <ul class="team-member-caption list-unstyled text-center pt-4 text-muted light-300">
                        <li>{{team.nom}}</li>
                        <li>{{team.job}}</li>
                    </ul>
                
                </div>
            {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Team Member -->

    <!-- Start Our Partner -->
    <section class="bg-secondary py-3">
        <div class="container py-5">
            <h2 class="h2 text-white text-center py-5">Our Partner</h2>
            <div class="row text-center">
            {% for partner in partners %}
                <div class="col-md-3 mb-3">
                    <div class="card partner-wap py-5">
                        <a href="#">{{partner.icone|safe}}</a>
                    </div>
                </div>
                
            {% endfor %}
                
            </div>
        </div>
    </section>
    <!--End Our Partner-->

    <!-- Start Progress -->
    <section class="bg-white py-5">
        <div class="container my-4">

            <h1 class="creative-heading h2 pb-3">{{creatives.titre}}</h1>

            <div class="creative-content row py-3">
                <div class="col-md-5">
                    <p class="text-muted col-lg-8 light-300">{{creatives.description | safe}}
                    </p>
                </div>
                <div class="creative-progress col-md-7">
                    {% for progression in progress  %}
                    <div class="row mt-4 mt-sm-2">
                        <div class="col-6">
                            <h4 class="h5">{{progression.titre}}</h4>
                        </div>
                        <div class="col-6 text-right">{{progression.progres}}%</div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: {{progression.progres}}%" aria-valuenow="{{progression.progres}}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- End Progress -->

    <!-- Start Choice -->
    <section class="why-us banner-bg bg-light">
        <div class="container my-4">
            <div class="row">
                <div class="banner-img col-lg-5">
                    <img src="{{aboutchoices.image.url}}" class="rounded img-fluid" alt="">
                </div>
                <div class="banner-content col-lg-7 align-self-end">
                    <h2 class="h2 pb-3">{{aboutchoices.titre}}</h2>
                    <p class="text-muted pb-5 light-300">
                    {{aboutchoices.description| safe}}</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End Choice -->

    <!-- Start Aim -->
    <section class="banner-bg bg-white py-5">
        <div class="container my-4">
            <div class="row text-center">
                {% for cardabout in cardabouts %}
                <div class="objective col-lg-4">
                    <div class="objective-icon card m-auto py-4 mb-2 mb-sm-4 bg-secondary shadow-lg">
                       {{cardabout.icone |safe}}
                    </div>
                    <h2 class="objective-heading h3 mb-2 mb-sm-4 light-300">{{cardabout.titre}}</h2>
                    <p class="light-300">
                        {{cardabout.description}}
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Aim -->

    <!-- Start Contact -->
    <section class="banner-bg bg-light py-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto my-4 p-3">
                    <form action="{% url 'NewsletterPost' %}" method="POST"><h1 class="h2 text-center">Stay up to date with us</h1>
                    {% csrf_token %}
                    <div class="input-group py-3">
                        <input name="email" type="text" class="form-control form-control-lg rounded-pill rounded-end" id="email" placeholder="Your Email" aria-label="Your Email">
                        <button class="btn btn-secondary text-white btn-lg rounded-pill rounded-start px-lg-4" type="submit">Subsribe</button>
                    </div>
                    <p class="text-center light-300">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt labore et dolore magna aliqua.</p>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- End Contact -->
{% endblock %}